.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
}

#progressor {
    width: 0%;
    height: 100%;
    background-color: #00C9A7;
}

#udiv-main {
    background-color:#2C73D2;
}
#udiv2-main {
    background-color:#00a388;
}

#udiv-inner {
    background-color: white;
}

body {
    background-color: #E4F0F5;
}

.navbar {
    background-color: #2C73D2;
}

#udiv-main h4,#udiv2-main h4 {
    color: white;
}
